.Node {
    width: 5rem;
    height: 5rem;
    border: .2rem solid black;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 2rem;
}