.SideNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: blue;
    height: 100%;
    padding: 4rem;
    z-index: 5;

    &__list {
        list-style: none;
    }

    &__list-item {
        margin-bottom: 1rem;
    }

    &__link {
        font-size: 2rem;
        text-decoration: none;
        color: white;
        border-bottom: 0.2rem solid transparent;
        transition: 0 0.3s ease border;

        &:hover {
            border-bottom: 0.2rem yellow solid;
        }
    }

}