@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";


.Project {

    margin-top: 10rem;

    &__container {
        text-align: center;
        color: $off-black;
    }

    &__heading {
        font-size: 5rem;
        font-weight: 400;
    }

    &__line {
        height: 0.25rem;
        background-color: $lighter-black;
        width: 7rem;
        margin: 0 auto;
        margin-top: 2rem;
    }

    &__description {
        font-size: 1.75rem;
        width: 45%;
        margin: 0 auto;
        margin-top: 3rem;
        line-height: 2.5rem;
    }

    &__img {
        margin-top: 4rem;
    }

    &__btn-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }

    &__btn {
  
        font-size: 1.75rem;
        padding: 1.5rem 5rem;
        color: $light-black;
        text-decoration: none;
        border-radius: 0.2rem;
        text-transform: uppercase;
        transition: all 0.5s ease-in;

        &--modal {
            margin-right: 2rem;
            background-color: $primary-lighter;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: $primary-light;
            }

            &:focus {
                outline: none
            }
        }

        &--website {
            margin-left: 2rem;
            background-color: $secondary-lighter;
            border: none;
            cursor: pointer;

            &:focus {
                outline: none
            }

            &:hover {
                background-color: $secondary-light;
            }
        }

    }

    &__img {
        width: 65rem
    }

}

@include width-900px {
    .Project {
        &__description {
            width: 65%
        }
    }
}

@include width-800px {
    .Project {
        &__img {
            width: 55rem
        }
    }
}

@include width-650px {
    .Project {

        &__img {
            width: 45rem
        }
        &__description {
            width: 75%
        }
    }
}

@include width-500px {
    .Project {
  
        &__img {
            width: 35rem
        }

        &__description {
            width: 75%
        }

        &__btn-container {
            display: flex;
            flex-direction: column;
        }

        &__btn {
            width: 80%;

            &--modal {
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }

            &--website {
                margin: 0 auto;
                margin-top: 0.5rem;
            }

        }
    }
}