$primary-dark : rgb(228, 150, 5);
$primary-light: rgba(238, 158, 10, 0.856);
$primary-lighter: rgba(236, 185, 90, 0.568);
$primary: rgb(235, 190, 107);

$secondary-lighter: rgba(226, 99, 99, 0.493);
$secondary-light: rgba(221, 25, 25, 0.63);


$dark-grey: rgb(151, 149, 149);
$off-black: rgb(17, 16, 16);
$light-black: rgba(0, 0, 0, 0.863);
$lighter-black: rgba(0, 0, 0, 0.61);
$very-light-black: rgba(0, 0, 0, 0.11);

$off-white: rgb(240, 234, 234);
$navy-blue: rgb(27,36,47)
