@import "../../sass/variables.scss";

.HeaderHighlights {
    height: 85vh;
    background-image: linear-gradient(to right, $primary-lights, $primary-lighter);
    font-family: "Lato";

    &__container {
        height: 100%;
        width: 100%;
        position: relative
    }

    &__text-container {
        height: 30rem;
        width: 70rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30%;
        color: $off-black
    }

    &__header {
        font-size: 5rem;
    }

    &__img {
        width: 45rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 135%;
    }
}


