@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.HeaderHighlights {
    height: 70vh;
    background-image: linear-gradient(to bottom right, $primary-lighter, $primary-lights);
    font-family: "Lato";
    position: relative;

    &__container {
        height: 100%;
        width: 100%;
        position: relative
    }

    &__back-link {
        position: absolute;
        top: 5%;
        left: 5%;
        cursor: pointer;
        z-index: 10
    }

    &__back-icon {
        width: 3rem;
        cursor: pointer;
        opacity: 0.5
    }

    &__text-container {
        height: 30rem;
        width: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 30%;
        color: $off-black;
  
    }

    &__header {
        font-size: 7rem;
        letter-spacing: 0.5rem;
        color: $off-black;
    }

    &__img {
        width: 45rem;
        height: 35rem;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 72%;
        opacity: 0.75;
        border-radius: 100%;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.11);
    }

    &__description {
        width: 85%;
        font-size: 1.75rem;
        margin-top: 1.5rem;
        line-height: 2.5rem;
    }

    &__btn {
        cursor: pointer;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}



.btn6, .btn6:link, .btn6:visited {
    padding: 1.3rem 2rem;
    border: 1px solid #333;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
    background-color: transparent;
    outline: none;
    
    &:hover {
      background: $primary-dark;
      border: 1px solid $primary-dark;
      color: #fefefe;
      border-radius: 30px;
    }
  }
  
  
@include width-1000px {
    .HeaderHighlights {
        
        &__img {
            width: 35rem;
        }
    }
}

@include width-900px {
    .HeaderHighlights {
        
        &__img {
            display: none
        }

        &__text-container  {

            width: 75%;
            top: 50%;
            left: 50%;
            text-align: center;
            margin-bottom: 2rem;
        }

        &__description {
            margin: 0 auto
        }

        &__header {
            margin-bottom: 1rem;
        }
    }
}

@include width-650px {
    .HeaderHighlights {

        &__text-container {
            width: 85%
        }

    }
}

@include width-500px {
    .HeaderHighlights {

        &__text-container {
            width: 95%
        }

        &__header {
            font-size: 5rem;
        }

        &__description {
            font-size: 1.5rem;
        }

    }

    .btn6 {
        font-size: 0.75rem;
    }
}