@import "../../sass/variables.scss";

.Header {
    height: 95vh;
    overflow-x: hidden;;

    &__container {
        height: 100%;
        display: flex;
        font-family: "Lato";
        position: relative;
        //color: rgba(228, 150, 5, 0.534)
    }

    &__background {
      width: 70rem;
      position: absolute;
      right: -5%;
      top: -10%
    }

    &__heading-container {
        height: 100%;
        width: 45%;
        position: relative;
        text-transform: uppercase;
    }

    &__image-container {
        height: 100%;
        width: 55%
    }

    &__text-container {
        position: absolute;
        top: 25%;
        left: 10%;
        transform: translate(0%,-50%);
        width: 100%;
    }

    &__name-msg {
        font-size: 8rem;
        font-weight: 400;
        color: $primary-dark;
        text-shadow: 0.1rem 0.1rem 1rem $very-light-black;
        letter-spacing: 0.2rem;
    }

    &__hello-msg {
        font-size: 2.15rem;
        margin-bottom: 0.5rem;
        font-weight: 400;
        color: $dark-grey
    }

    &__position-msg {
        font-size: 3rem;
        margin-top: 1.25rem;
        font-weight: 400;
        color: $primary-light
    }

    &__social-media-container {
       
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    &__project-btn {
        margin-top: 10rem;
        text-decoration: none;
        margin-bottom: -5rem;
        position: relative;
        padding: 2rem 2.2rem;
        transition: all .2s ease;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 2.8rem;
            background: rgba($primary-light,.5);
            width: 5.6rem;
            height: 5.6rem;
            transition: all .3s ease;
        }

        &:hover {
            &:before {
              width: 100%;
              background: rgba($primary-light, 0.75);
            }
            svg {
              transform: translateX(0)
            }
          }
          &:active {
            transform: scale(.96)
          }
    }

    &__btn-text {
        position: relative;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: 900;
        letter-spacing: .25em;
        text-transform: uppercase;
        vertical-align: middle;
        color: $light-black
    }

  &__btn-svg {
        position: relative;;
        margin-left: 2rem;
        margin-bottom: -0.3rem;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $off-black;
        stroke-width: 2;
        transform: translateX(-0.5rem);
        transition: all .3s ease;
    }


}
















































// ICON CODE I GOT FROM CODEPEN //

@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

.button-wrap {
  width: 39px;
  height: 39px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  margin-right: 3rem;
  
  &.facebook {
    background-color: #3B5998;
    i.active { color: #3B5998; }
  }
  
  &.linkedin {
    background-color: #3f729b;
    i.active { color: #3f729b; }
  }
  
  &.github {
    background-color: #026466;
    i.active { color: #032020; }
  }
  
  &.google {
    background-color: #e52d27;
    i.active { color: #e52d27; }
  }
  
  &:hover {
    .button-inner-wrap {
      width: 42.5px;
      height: 42.5px;
      
      i.inactive { transform: translate(100px, -50%); }
      i.active { transform: translate(-50%, -50%); }
    }
  }
}

.button-inner-wrap {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(148, 142, 133, 0.555);
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 15px;
    transition: all 0.3s ease;
    
    &.inactive {
      color: rgba(148, 142, 133, 0.795);
      transform: translate(-50%, -50%);
    }
    
    &.active { transform: translate(-150px, -50%); }
  }
}




