@import "../../sass/variables.scss";

.Skills {
    padding: 7.5rem 16.5rem;
    font-family: 'Lato';
    
    

    &__heading {
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        color: $light-black
    }

    &__graph-container {
        
        margin-top: 5rem;
        height: 60vh;
        position: relative;
    }

    &__node {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        position: absolute;
        top: 30%;
        right: 50%;
        cursor: pointer;
        background-color: $off-white;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.336);
        background-size: 7rem;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        border: 0.15rem solid $navy-blue-light
    }
}