@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.Skills {
    padding: 7.5rem 16.5rem;
    font-family: 'Lato';
    margin-bottom: 10rem;
    height: 120vh;
    

    &__heading {
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        color: $light-black
    }

    &__skills-container {
        display: flex;
        margin-top: 7.5rem;
    }

    &__header-description {
        font-size: 1.75rem;
        margin-top: 2rem;
        line-height: 3rem;
        width: 70%
    }

    &__graph-container {
        height: 60vh;
        position: relative;
     
        width: 55%
    }

    &__node {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        position: absolute;
        top: 30%;
        right: 50%;
        cursor: pointer;
        background-color: $off-white;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.336);
        background-size: 7rem;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        border: 0.15rem solid $navy-blue-light;
        transition: all 0.4s ease;

        &--active {
            background-color: rgba(179, 235, 179, 0.247);
        }

        &--react {
            top: 50%;
            right: 80%
        }

        &--node {
            top: 15%;
            right: 70%
        }

        &--redux {
            top: 100%;
            right: 47.5%
        }

        &--mongoDB {
            top: 85%;
            right: 70%
        }

        &--typeScript {
            top: 85%;
            right: 20%
        }

        &--mySQL {
            top: 15%;
            right: 25%;
        }

        &--graphQL {
            top: 50%;
            right: 15.5%
        }

        &--express {
            top: 0;
            right: 47.5%,
        }
    }

    &__tech-title {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        margin-top: -2rem;
        text-transform: capitalize;
    }

    &__description-container {
        width: 45%;
        padding-top: 2rem;
    }

    &__description {
        font-size: 1.75rem;
        margin-top: 0.5rem;
        line-height: 2.25rem;
    }

    &__concepts-title {
        font-size: 2.1rem;
        margin-top: 2rem; 
    }

    &__list-item {
        margin-left: 2rem;
        margin-top: 0.5rem;
        font-size: 1.75rem;
    }

    &__use-title {
        font-size: 2.1rem;
        margin-top: 2rem; 
    }
}


@include width-1200px {
    .Skills {

        &__list-item {
            font-size: 1.35rem;
        }

        &__node {
            width: 9rem;
            height: 9rem;

            &--graphQL {
                top: 40%;
            }

            &--react {
                top: 40%;
            }

            &--typeScript {
                top: 70%;
            }

            &--mongoDB {
                top: 70%;
            }

            &--redux {
                top: 85%;
            }
        }
    } 
}

@include width-1100px {

    .Skills {
        
        height: 170vh;

        &__skills-container {
            flex-direction: column;
        }

        &__header-description {
            width: 95%
        }

        &__graph-container {
            width: 100%;
            margin-top: -3rem;
        }

        &__heading-container {
            text-align: center;
        }


        &__list-item {
            font-size: 1.75rem;
        }

        &__description-container {
            width: 80%;
            margin: 0 auto;
            margin-top: 7.5rem;
            text-align: center;
        }

        &__list-item {
            list-style: none;
        }
            
        
    }
}

@include width-1000px {
    .Skills {

        height: 180vh;
        &__description-container {
           
            width: 90%
            
        }
    }
}

@include width-800px {
    .Skills {

        &__graph-container {
            //background-color: blue;
            padding: 0;
        }

        &__description-container {
            width: 100%;
            margin-top: -11.5rem;
        }

        
        &__node {
            width: 8rem;
            height: 8rem;
            background-size: 5rem;
            transform: translate(-50%, -50%);

            &--express {
                top: 0;
                right: 45%,
            }

            &--node {
                top: 0%;
                right: 75%
            }

            &--mySQL {
                top: 0%;
                right: 15%;
            }  
            
            &--react {
                top: 25%;
                right: 75%
            }

            &--graphQL {
                top: 25%;
                right: 15%
            }
    
            &--redux {
                top: 50%;
                right: 45%
            }
    
            &--mongoDB {
                top: 50%;
                right: 75%
            }
    
            &--typeScript {
                top: 50%;
                right: 15%
            }
         
        }
    }
}

@include width-750px {
    .Skills {
        padding: 7.5rem 10rem;
        &__graph-container {
            
            margin-left: 2rem;
        }
    }
}

@include width-600px {
    .Skills {
        padding: 7.5rem 8rem;
        

    }
}



@include width-500px {
    .Skills {
        padding: 7.5rem 5rem;
        
        &__graph-container {

            margin-left: 1rem;
        }

        &__node {
            width: 7rem;
            height: 7rem
        }
    }
}


@include width-400px {
    .Skills {
        padding: 7.5rem 3rem;
        height: 200vh;

        &__node {
            width: 6rem;
            height: 6rem;
            background-size: 4rem;
        }

        &__graph-container {
            margin-bottom: 3rem;
            margin-left: 2rem;
        }
    }
}

