@import "../../sass/variables.scss";

.Skills {
    padding: 7.5rem 16.5rem;
    font-family: 'Lato';
    margin-bottom: 10rem;
    height: 120vh;
    

    &__heading {
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        color: $light-black
    }

    &__skills-container {
        display: flex;
        margin-top: 7.5rem;
    }

    &__header-description {
        font-size: 1.75rem;
        margin-top: 2rem;
        line-height: 3rem;
        width: 70%
    }

    &__graph-container {
        height: 60vh;
        position: relative;
     
        width: 55%
    }

    &__node {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        position: absolute;
        top: 30%;
        right: 50%;
        cursor: pointer;
        background-color: $off-white;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.336);
        background-size: 7rem;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
        border: 0.15rem solid $navy-blue-light;
        transition: all 0.4s ease;

        &--active {
            background-color: rgba(179, 235, 179, 0.247);
        }
    }

    &__tech-title {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        margin-top: -2rem;
        text-transform: capitalize;
    }

    &__description-container {
        width: 45%;
        padding-top: 2rem;
    }

    &__description {
        font-size: 1.75rem;
        margin-top: 0.5rem;
        line-height: 2.25rem;
    }

    &__concepts-title {
        font-size: 2.1rem;
        margin-top: 2rem; 
    }

    &__list-item {
        margin-left: 2rem;
        margin-top: 0.5rem;
        font-size: 1.75rem;
    }

    &__use-title {
        font-size: 2.1rem;
        margin-top: 2rem; 
    }
}